@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <form action="/department/add" method="post">
        <label for="id">ID</label>
        <input type="text" name="DeptId" id="id"/>
        <label for="name">Name</label>
        <input type="text" name="DeptName" id="name" />
        <input type="submit" value="add" />
    </form>
</body>


</html>