@model Department 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body>
        <form method="post">

            <label asp-for="DeptName"></label><input asp-for="DeptName" /><br />
            <input type="submit" value="Update" />
        </form>
    </body>
</html>
