*{
    padding: 0;
    margin: 0;
}
img{
    display: inline-block;
    width: 100%;
}
h4{
    padding:50px;
    color: green;
    font-size: 30px;
}
.formt{
    padding: 45px;
    font-size: 20px;
    color: rgb(178, 176, 176);

}
#f{
    padding-right: 490px;
}
.formi{
    padding: 10px;
    font-size: 10px;
    color: rgb(178, 176, 176);
    width: 500px;
    color: lightgray;
    border-radius: 0;
    border-color: lightgray;
    margin: 22px 3%;
    padding: 15px;
}
#s{
    padding-right: 0px;
    
}
#st{
    padding: 10px;
    font-size: 10px;
    color: rgb(178, 176, 176);
    width: 1100px;
    color: lightgray;
    border-radius: 0;
    border-color: lightgray;
    margin: 22px 3%;
    padding: 15px;
}
.form3{
    padding-right: 300px;
    padding-left: 50px;
    font-size: 20px;
    color: rgb(178, 176, 176);
}
.formi2{
    padding: 0px;
    font-size: 10px;
    color: rgb(178, 176, 176);
    width: 270px;
    color: lightgray;
    border-radius: 0;
    border-color: lightgray;
    margin: 22px 3%;
    padding: 15px;
}
hr{
    border: dashed;
    color: rgb(134, 211, 86);
    margin:0px 40px ;
}
select{
    margin: 20px;
    width: 500px;
    text-align: center;
}
#sub{
    width: 100px;
    height: 30px;
    margin-left: 50px;
    margin-top:12px;
}
#dv{
    background-color:rgb(134, 211, 86) ;
    height: 50px;
}
